<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Activites</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="product.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<style>
    body {
        margin-left: 3%;
    }
</style>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button class="btn btn-primary" v-on:click="showCheckOut">
                {{ cartItemCount }}
                <span class="fas fa-sign-in-alt"></span> <br>Register
            </button>
            <main>
                <div v-if='showProduct'>
                    <div v-for="product in sortedProducts">
                        <figure>
                            <img v-bind:src="product.image" style="width: 150px;">
                        </figure>
                        <p v-html="product.title" style="font-size: 19px;"></p>
                        <p v-html="product.description"></p>
                        <button class="btn btn-primary" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to cart</button>
                        <button disabled="disabled" v-else>Add to cart</button>
                        <span v-if="product.availableInventory === cartCount(product.id)">All out!</span>
                        <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                        Only {{product.availableInventory - cartCount(product.id)}} Left!</span>
                        <span v-else>Sign up now!</span>
                        <div>
                            <span v-for="n in product.rating">★</span>
                            <span v-for="n in 5-product.rating">☆</span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <h2>Register</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <strong>First Name: </strong>
                                    <input type="text" class="form-control" v-model.trim="order.firstName">
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <strong>last Name: </strong>
                                    <input type="text" class="form-control" v-model.trim="order.lastName">
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm 12">
                                <p>
                                    <strong>Address: </strong>
                                    <input type="text" class="form-control" v-model.trim="order.address">
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <p>
                                    <strong>City: </strong>
                                    <input type="text" class="form-control" v-model.trim="order.city">
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    <strong>State: </strong>
                                    <select class="form-control" v-model="order.state">
                                        <option disabled value="">State</option>
                                        <option v-for="(state, key) in states" v-bind:value="state">
                                            {{key}}</option>
                                    </select>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <p>
                                    <strong>Zip-code: </strong>
                                    <input type="number" class="form-control" v-model.number="order.zipCode">
                                </p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <p>
                                    <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                                    <label for="gift">Sign Up As A Gift For The Student?</label>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <input type="radio" id="home" value="Home" v-model="order.method">
                                    <label for="home">Home training</label>

                                    <input type="radio" id="business" value="Business" v-model="order.method">
                                    <label for="business">School training</label>
                                </p>
                            </div>
                        </div>
                    </div>

                    <h2>Order Information</h2>
                    <p>First Name:{{order.firstName}}</p>
                    <p>Last Name:{{order.lastName}}</p>
                    <p>Address:{{order.address}}</p>
                    <p>City:{{order.city}}</p>
                    <p>State:{{order.state}}</p>
                    <p>Gift:{{order.gift}}</p>
                    <p>Zip-code:{{order.zipCode}}</p>

                    <button type="submit" v-on:click="submitForm" class="btn btn-primary">Sign Up</button>
                </div>
            </main>
        </header>
    </div>
    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Welcome to Mdx after school children classes.',
                products: products,
                order: {
                    firstName: '',
                    lastName: '',
                    Address: '',
                    City: '',
                    State: '',
                    zipCode: '',
                    method: 'Home',
                    gift: false,
                    sendGift: 'Sign up as a gift for a student',
                    dontSendGift: 'Do not sign up as a gift for a student'
                },
                states: {
                    Al: 'Alabama',
                    Ng: 'Nigeria',
                    Uk: 'United Kingdom',
                    Ys: 'Yankee',
                    Az: 'Arizona'
                },
                cart: [],
                showProduct: true,
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                },
                showCheckOut() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartItemCount;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length || '';
                },
                sortedProducts() {
                    let productsArray = this.products.slice(0);

                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;

                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }
            }
        });
    </script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>